<!-- <div class="hero">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">

            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">

            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">

            <mat-label>Password</mat-label>
            <input type="password" matInput>
            
            <button mat-button (click)="criar()"> create user </button>
        </mat-form-field>
    </form>
    <span>create account <a routerLink="/login">here</a></span>
</div> -->

<h1>create component</h1>