<div class="form">
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Ex. Camila">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
  
      <span>create account <a routerLink="/create"> here</a>  ou <a routerLink="/home">home</a></span>
  
      <button mat-raised-button routerLink="/users" type="submit" color="primary"> login </button>
    </form>
</div>
  